*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    max-width: 100%;
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: aqua;
    font-size: 35px;
    font-family:  sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
